* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,p,a {
  color: var(--white);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--secondary);
  color: var(--white);
}

:root {
  --primary: #d52d3f
  --secondary: #1a1429
  --white: #f8f8f8
}


